<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>707712534234-bdk66t812utlb82749mnqd191l6rj11o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707712534234-bdk66t812utlb82749mnqd191l6rj11o</string>
	<key>API_KEY</key>
	<string>AIzaSyDpvVmVLkeiksVvCD4gawSxuQJ71vAkmKw</string>
	<key>GCM_SENDER_ID</key>
	<string>707712534234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tasawk.webview</string>
	<key>PROJECT_ID</key>
	<string>task-df218</string>
	<key>STORAGE_BUCKET</key>
	<string>task-df218.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707712534234:ios:2bac895810ca72877707e3</string>
</dict>
</plist>